
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<div class="alert alert-danger">Kategori Sayısı = @ViewBag.categoryCount</div>
<div class="alert alert-warning">Proje Sayısı = @ViewBag.projectCount</div>
<div class="alert alert-success">Yetenek Sayısı = @ViewBag.skillCount</div>
<div class="alert alert-dark">Ortalama Yetenek Puanı = @ViewBag.skillAvgValue</div>
<div class="alert alert-primary">Son Eklenen Yetenek = @ViewBag.lastSkillTitleName</div>
<div class="alert alert-danger">Asp .Net MVC proje Sayısı = @ViewBag.mvcCategoryProjectCount</div>
<div class="alert alert-warning">Css Proje Sayısı = @ViewBag.cssCategoryProjectCount</div>
<div class="alert alert-success">Java Proje Sayısı = @ViewBag.javaCategoryProjectCount</div>
<div class="alert alert-dark">Php Proje Sayısı = @ViewBag.phpCategoryProjectCount</div>
<div class="alert alert-primary">Hobi Sayısı = @ViewBag.hobbyCount</div>
